form {
    padding-bottom: 45px;
    max-width: 700px;
    margin: auto
}

form label {
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

form input, form textarea {
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 60%;
    display: block;
    margin: auto
}

form textarea {
    height: 200px;
}


form button {
    display: block;
    border-radius: 5px;
    border: none;
    background-color:#1d4473;
    color: white;
    padding: 5px 15px;
    margin: auto;
    margin-top: 15px;
}


a.email-link:link {color: #1d4473;}
a.email-link:hover {color: #1a6a7a;}
a.email-link:visited {color: #1d4473;}
a.email-link:active {color: #1a6a7a;}

.logo {
    max-width: 120px;
    margin: 10px auto;
}

.social-media {
    text-align: center;
}

.contact_text {
    margin-bottom: 20px;
}

#contact_container {
    background-color: #84b0a4;
    padding-top: 90px;
    padding-bottom: 60px;
}