form label {
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

form input, form textarea {
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 60%;
    display: block;
    margin: auto
}

form textarea {
    height: 200px;
}


form button {
    display: block;
    border-radius: 5px;
    border: none;
    background-color:#1d4473;
    color: white;
    padding: 5px 15px;
    margin: 15px auto;
}

#contact_container {
    background-color: #84b0a4;
}