form {
    padding-bottom: 45px;
    max-width: 700px;
    margin: auto
}

form label {
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

form input, form textarea {
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 60%;
    display: block;
    margin: auto
}

form textarea {
    height: 200px;
}


form button {
    display: block;
    border-radius: 5px;
    border: none;
    background-color:#1d4473;
    
    color: white;
    padding: 5px 15px;
    margin: auto;
    margin-top: 15px;
}

form button:hover {
    padding: 6px 16px;
}

a.email-link:link {color:#d6f1f6;}
a.email-link:hover {color: #97dbe9;}
a.email-link:visited {color: #97dbe9;}

.logo {
    max-width: 120px;
    margin: 10px auto;
}

.social-media {
    background-color: white;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.contact_text {
    margin-bottom: 20px;
}

#contact_container {
    background-color: #1a6a7a;
    padding-top: 90px;
    padding-bottom: 60px;
}