p {
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.section_header1 {
    padding-top: 65px;
    padding-bottom: 25px;
    background-color: transparent;
    font-size: 38px;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 8px #000000, 0 0 20px #4d6a83;
    text-decoration: underline;
}

.about_text {
    max-width: 93%;
    margin: auto;
    padding-bottom: 30px;
}

.portrait {
    max-width: 500px;
    width: 90%;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

#about_container {
    background-image: linear-gradient(to top, #1d4473, #0f4c77, #005379, #005a7b, #02617b, #176a7e, #287281, #377b84, #4a888b, #5d9693, #71a39b, #84b0a4);
}

@media all and (min-width: 800px){
    .about_text {
        max-width: 60%;
    }
}