body {
  margin: 0;
  font-family: Rubik;
}

.caps {
  text-transform: uppercase;
}

p {
  margin: auto;
  max-width: 95%;
}

.section_header {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: transparent;
  font-size: 38px;
  font-family: 'Roboto Slab', serif;
  text-shadow: 2px 2px 8px #000000, 0 0 20px #4d6a83;
  text-decoration: underline;
}


