body {
  margin: 0;
  font-family: Rubik;
}

.caps {
  text-transform: uppercase;
}

p {
  margin: auto;
  max-width: 95%;
}

.section_header {
    padding: 25px;
    background-color: transparent;
    font-size: 38px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 8px #000000, 0 0 20px #4d6a83;
}


