#projects_container {
    background-image: linear-gradient(to bottom, #1d4473, #0f4c77, #005379, #005a7b, #02617b, #176a7e, #287281, #377b84, #4a888b, #5d9693, #71a39b, #84b0a4);
    height: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.projects_header {
    margin: 0;
    padding: 20px;
}

.projects_screenshot {
    max-width: 300px;
    display: block;
    margin: 25px auto;
}

.projects_screenshot {
    transition: all 0.3s ease 0s;
}

.projects_screenshot:hover{
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7) ;
}

.github {
    display: block;
    margin: auto;
    text-align: center;
}

.github:hover {
    color: teal;
}